body {
  background-color:gainsboro
}

.main {
  column-count: 3
}

h2 {
  text-align: center;
}

.navbar {
  background-color:#777777;
  border:1px solid #505050
}

.navbar-nav {
  display:flex;
  justify-content: right;
}

#signup{
  color:white;
}

#signin{
  color:white;
}

.dashBoard {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  border:1px solid black;
}

.city-detail {
  border:1px solid black;
  grid-column: 2/span 3;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr;
  background-color:white;
}

img {
  grid-column:2/span 1;
  grid-row:1;
  width:100%
}

.userPost {
  display:grid;
  grid-column:1/span 3;
  grid-row:2
}

.cityName li{
  border:1px solid black;
  list-style: none;
}

.thumbnail{
  width: 50px;
  height: 50px;
}
