body {
     background-color:gainsboro
}

.main {
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr
}

h2 {
     text-align: center;
}

.navbar {
     background-color:#777777;
     border:1px solid #505050
}

.navbar-nav {
     display:flex;
     justify-content: right;
}

#signup{
     color:white;
}

#signin{
     color:white;
}
